@{
    Layout = null;
}

@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Erro Occured </h1>
        <h2>Controller Name: @Model.ControllerName</h2>
        <h2>Action Name:  @Model.ActionName</h2>
        <h4>Exception Details: @Model.Exception</h4>
    </hgroup>
</body>
</html>