
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee <b>Manage</b></h2>
@(Html.Kendo().Grid<TelerikMvcAppDemo.Models.Employee>()
    .Name("EmpGrid")
    .Columns(c=> {
        c.Template(@<text> </text>).Draggable(true);
        c.Bound(p => p.EmployeeID);
        c.Bound(p => p.Name);
        c.Bound(p => p.Email);
        c.Bound(p => p.Address);
        c.Bound(p => p.Phone);
        c.Command(cmd =>
        {
            cmd.Edit();
            cmd.Destroy();
        });
    })
    .ToolBar(t => t.Search())
    .ToolBar(t => t.Custom().Text("Delete selection")
                    .HtmlAttributes(new { onclick = "deleteSelection(event)" }))
    .Excel(excel=>excel
    .FileName("Employee.xlsx")
    .Filterable(true)
    .ProxyURL(Url.Action("GetData","Employee"))
    )
    .DataSource(datasource=>datasource
    .Ajax()
    .Read(read => read.Action("GetData", "Employee"))
    .Create(c => c.Action("Create", "Employee"))
    .Update(c => c.Action("Update", "Employee"))
    .Destroy(c=>c.Action("Delete", "Employee"))
    .Model(m=>{ m.Id(p => p.EmployeeID);
        m.Field(p => p.EmployeeID).Editable(false).DefaultValue(0);
    })
    )
    .Groupable()
    .Sortable()
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
    .Filterable()
    .Editable(e=>e.Mode(GridEditMode.InLine))
    .Pageable(p=>p.Refresh(true)
    .PageSizes(true)
    .PreviousNext(true))
    .Navigatable()
    .Reorderable(reorder => reorder.Rows(true).Columns(true))
    .Events(ev =>
            {
                ev.RowReorder("onRowReorder");
            })
    .ToolBar(t => t.Excel())
    .ToolBar(t=>t.Create())
    )

<script type="text/javascript">

    //register custom validation rules
    $(document).ready(function () {
        $.extend(true, kendo.ui.validator, {
            rules: { // custom rules
                validation: function (input, params) {
                    if (input.val() == "") {
                        input.attr("data-validation-msg", "The field is required!");
                        return /^[A-Z]/.test(input.val());
                    }

                    return true;
                }
            },
            messages: { //custom rules messages
                validation: function (input) {
                    // return the message text
                    return input.attr("data-val-validation");
                }
            }
        });
    });

    //show server errors if any
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function onRowReorder(e) {
        var grid = e.sender,
            dataSource = grid.dataSource,
            externalGrid, externalDataItem;

        if (e.oldIndex === -1) { // If the dropped row is from external Grid.
            e.preventDefault();
            externalGrid = e.row.parents(".k-grid").data("kendoGrid"); //Get an instance of the external Grid.
            externalDataItem = externalGrid.dataItem(e.row); //Get the data item.
            externalGrid.dataSource.remove(externalDataItem); //Remove the data item from the external Grid.
            dataSource.insert(e.newIndex, externalDataItem.toJSON()); //Add the data item in the current Grid.
        }
    }

    function deleteSelection(e) {
        //Prevent refresh
        e.preventDefault();
        var grid = $("#EmpGrid").data("kendoGrid");
        grid.select().each(function () {
            grid.removeRow($(this));
        });
    }
</script>