
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee <b>Manage</b></h2>
@(Html.Kendo().Grid<TelerikMvcAppDemo.Models.Employee>()
    .Name("EmpGrid")
    .Columns(c=> {
        c.Bound(p => p.EmployeeID);
        c.Bound(p => p.FirstName);
        c.Bound(p => p.LastName);
        c.Command(cmd =>
        {
            cmd.Edit();
            cmd.Destroy();
        });
    })
    .ToolBar(t => t.Search())
    .Excel(excel=>excel
    .FileName("Kendo UI Grid Export.xlsx")
    .Filterable(true)
    .ProxyURL(Url.Action("GetData","Employee"))
    )
    .DataSource(datasource=>datasource
    .Ajax()
    .Read(read => read.Action("GetData", "Employee"))
    .Create(c => c.Action("Create_Employee", "Employee"))
    .Update(c => c.Action("Update_Employee", "Employee"))
    .Destroy(c=>c.Action("DElete_Employee", "Employee"))
    .Model(m=>{ m.Id(p => p.EmployeeID); })
    )
    .Groupable()
    .Sortable()
    .Selectable()
    .Filterable()
    .Editable(e=>e.Mode(GridEditMode.PopUp))
    .Pageable(p=>p.Refresh(true)
    .PageSizes(true)
    .PreviousNext(true))
    .ToolBar(t => t.Excel())
    .ToolBar(t=>t.Create())
    )
